<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Middle School Worth Quiz</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="gh-ribbon.css">
</head>
<body ng-app="mswq">

<div class="page-wrap">

    <div ng-controller="QuizCtrl as quiz">
        <div class="total">Your worth: {{ quiz.scoreTotal | currency:"$" }}</div>

        <div class="subheading">
            (According to <a href="http://ihavenotfailed.tumblr.com/4661078294" target="_blank">this ridiculous thing</a>)
            <button ng-show="quiz.scoreTotal" ng-click="quiz.reset()">Start over</button>
        </div>

        <ul>
            <li ng-class="{ active:thing.active }" ng-repeat="thing in quiz.things" ng-click="quiz.toggleThing(thing)">{{ thing.thing }} <span class="points">{{ thing.points | currency:"$" }}</span></li>
        </ul>

        <div class="total">Your worth: {{ quiz.scoreTotal | currency:"$" }}</div>
    </div>

    <a class="github-plain" href="https://github.com/JoeAnzalone/Middle-School-Worth-Quiz" target="_blank">Fork me on GitHub</a>
</div>

<div class="github-fork-ribbon-wrapper right">
    <div class="github-fork-ribbon">
        <a href="https://github.com/JoeAnzalone/Middle-School-Worth-Quiz" target="_blank">Fork me on GitHub</a>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
<script type="text/JavaScript" src="app.js"></script>
</body>
</html>
<!--
                       88
                       88
                       88
                       88   ,adPPYba,    ,adPPYba,
                       88  a8"     "8a  a8P_____88
                       88  8b       d8  8PP"""""""
       db      88,   ,d88  "8a,   ,a8"  "8b,   ,aa    88
      d88b      "Y8888P"    `"YbbdP"'    `"Ybbd8"'    88
     d8'`8b                                           88
    d8'  `8b      8b,dPPYba,   888888888  ,adPPYYba,  88   ,adPPYba,   8b,dPPYba,    ,adPPYba,
   d8YaaaaY8b     88P'   `"8a       a8P"  ""     `Y8  88  a8"     "8a  88P'   `"8a  a8P_____88
  d8""""""""8b    88       88    ,d8P'    ,adPPPPP88  88  8b       d8  88       88  8PP"""""""
 d8'        `8b   88       88  ,d8"       88,    ,88  88  "8a,   ,a8"  88       88  "8b,   ,aa
d8'          `8b  88       88  888888888  `"8bbdP"Y8  88   `"YbbdP"'   88       88   `"Ybbd8"'

This has been a JoeAnzalone.com Production -->
